

.calc {

    background-image: url('../image/watercalc.png');
    height: 654px;
    background-size: 122% 760px;
    background-repeat: no-repeat;
    margin-top: -163px;
    margin-left: -12px;
    text-align: left;
    padding-top: 256px;
    padding-left: 209px;
    color: white;

}

.predcamp {
    margin-right: 80px;
    padding-bottom: 22px;
    background: #8DBF47;
    width: 346px;
    border-radius: 20px;
    height: 60px;
    font-size: 35px;
    color: white;
    text-align: center;
}

.predcamp a {
    color: white;

}

.body-content {
    gap: 1px;
    margin-top: -42px;
}

form .row {
    border: 2px solid #8DBF47;
    width: 820px;
    margin-top: 22px;
    padding: 18px;
    margin-bottom: 70px;
    border-radius: 68px;
    box-shadow: 1px 0px 8px #cbe2ac;
}

form .row .input-calc {
    width: 416px;
    background: #E6F1D8;
    border-radius: 12px;
    border: none;
    height: 41px;
    padding-right: 14px;
    outline: none;
}

form .row .btn-calc {
    width: 277px;
    height: 41px;
    border-radius: 8px;
    background: #8DBF47;
    border: 0;
    color: white;
}

.modal-data p {
    font-size: 23px
}

.modal-data span {
    font-size: 60px;
    margin-right: 109px;
    color: #8DBF47;
    margin-top: 59px !important;
    padding-top: 53px !important;
    font-weight: 500 !important;
}

.modal-image {
    width: 251px;
}

.modal-content {
    width: 162%;
}

.desktop-modal-header {
    color: #8DBF47;
    font-size: 20px;
}

.moible-modal-header {
    display: none;
    color: #8DBF47;
    font-size: 20px;
}


@media(max-width:700px) {

    .desktop-modal-header,
    .modal-data p {
        display: none;

    }

    .calc {
        width: 100% !important;
        background-repeat: no-repeat;
        margin-top: -163px;
        text-align: left;
        padding-top: 240px;
        padding-left: 50px;
        color: #abee39;
    }

    .body-content {
        flex-direction: column;
        gap: 26px;
    }

    .predcamp {
        margin-right: 5px !important;
        width: 338px;
        font-size: 31px;
    }

    form .row {
        width: 400px;
        margin: auto;
    }

    form .row .input-calc {
        width: 335px;
        margin-top: 6px;

    }

    form .row .btn-calc {
        width: 329px;
        margin-top: 21px;
    }

    .modal-content {
        width: 100%;
        margin-top: 151px;
    }

    .moible-modal-header {
        display: inline-block;
    }

    .modal-image {
        width: 180px;
    }

    .modal-data span {
        margin-right: 0 !important;
        font-size: 50px;
    }
}